<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GiphyProject</title>
  <link rel="icon" href="/template/src/images/Untitled-2.svg" type="image/png">
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/gifs-order.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<body>
  <div id="app">
    <nav class="navbar">
      <a href="#" id="homes" class="nav-link" data-page="home"><img src="images/logo-nav.png" alt=""></a>
       <a href="#" class="nav-link" data-page="favorites">Favorites</a>
      <a href="#" class="nav-link" data-page="upload">Upload</a>
      <input id="search" type="text" placeholder="Search for gifs">
      <button id="searchButton" type="submit"><i class="fa fa-search"></i></button>
            <a href="#" class="nav-link" data-page="about">About</a>
    </nav>
    <div id="container">
      <!-- start placeholders -->
       
        <!-- end placeholders -->
      </div>
      <footer>Footer</footer>
    </div>

    <!-- app -->
    <script src="./src/index.js" type="module"></script>
    <!-- end app -->
</body>

</html>