  /* Trending order */
  .section-title {
    display: flex;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: white;
  }
  .section-info {
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
}
#trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 80%;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .trending-item {
    width: 300px;
    height: 300px;
  }
  
  .trending-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .trending-item img:hover {
    opacity: 0.7;
  }

  /* Search order */
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 80%;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px; 
    color: #000;
  }
  

  
  .search-item {
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease; 
}

  
  .search-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
 
.search-item:hover {
opacity: 0.7    ;}
  